<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("img_girl.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <center>
        Total Face found = {{faceNum}}<br>
        {% if faceNum > 0 %}
    
        {% for face in faces %}
        Face {{forloop.counter}}:-
        {{face}}<br>
        {%endfor%}
        {% endif %}
    <img width="30%" src="https://ipfs.io/ipfs/{{hash}}" />
</center>



    <div class="bg"></div>


</body>

</html>